<AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is lokaal bestuur">
  <img sizes="50vw" src="https://media.bizj.us/view/img/6487132/thinkstockphotos-178598388*1200xx2122-1196-0-0.jpg" alt="Group toejuichende mensen">
</AuContentHeader>
<section class="au-o-region-large">
  <div class="au-o-layout">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-3-4@small au-u-1-2@medium">
        <AuContent @skin="large">
          <h1>Help me IPDC</h1>
          <p class="au-c-heading au-c-heading--4">Dienstverlening in begrijpbare taal</p>
          <p>De overheid wil je helpen. Maar hoe? In deze toepassing wordt je op mensenmaat geholpen.</p>
        </AuContent>
      </div>
      <div class="au-o-grid__item au-u-1-4@small au-u-1-2@medium au-u-text-right@medium">
        <AuButton @icon="login" @iconAlignment="left">
          Aanmelden (optioneel)
        </AuButton>
      </div>
    </div>
  </div>
</section>
<section class="au-o-region-large au-u-background-gray-200">
  <div class="au-o-layout">
    <AuContent @skin="large" class="au-u-margin-bottom">
      <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Functionaliteiten van Help me IPDC</AuHeading>
    </AuContent>
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-1-2@small">
        <AuCard @textCenter="true" as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="pencil">
            <AuHeading @level="3" @skin="4">
              Vind de juiste dienstverlening
            </AuHeading>
          </c.header>
          <c.content>
            <p>Schrijf wat je zoekt en wij doorzoeken je lokale ondersteuning voor de gepaste dienstverlening.</p>
          </c.content>
          <c.footer>
            <p>
              <a class="au-c-button" href="#!" rel="noopener noreferrer" target="_blank">FUTURE LINK</a>
            </p>
          </c.footer>
        </AuCard>
      </div>
      <div class="au-o-grid__item au-u-1-2@small">
        <AuCard @textCenter="true" as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="pencil">
            <AuHeading @level="3" @skin="4">
              Ontdek de stappen en vereisten voor de dienstverlening.
            </AuHeading>
          </c.header>
          <c.content>
            <p>De robots verwerken de beschikbare tekst en geven de stappen weer die je moet zetten. Foutjes kan je helpen recht zetten.</p>
          </c.content>
          <c.footer>
            <p>
              <a class="au-c-button" href="#!" rel="noopener noreferrer" target="_blank">FUTURE LINK</a>
            </p>
          </c.footer>
        </AuCard>
      </div>
    </div>
  </div>
</section>
<AuMainFooter>
  <AuHeading @level="3" @skin="4">
    Deze website baseert zich op <a class="au-c-link" href="https://productencatalogus-v3.vlaanderen.be/nl/start">de Interbestuurlijke producten- en dienstencatalogus</a> en <a class="au-c-link" href="https://github.com/semantic-ai/">geavanceerde AI technieken</a> om je optimaal te ondersteunen 🤖.
  </AuHeading>
  <AuContent @skin="small">
    <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a></p>
    <ul class="au-c-list-horizontal">
      <li class="au-c-list-horizontal__item">
        <AuLink @route="index" @skin="secondary">Disclaimer</AuLink>
      </li>
      <li class="au-c-list-horizontal__item">
        <AuLink @route="index" @skin="secondary">Cookieverklaring</AuLink>
      </li>
    </ul>
  </AuContent>
</AuMainFooter>