<section class="au-o-region-large">
  <div class="au-o-layout">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-3-4@small au-u-1-2@medium">
        <AuContent @skin="large">
          <h1>Help me IPDC</h1>
          <p class="au-c-heading au-c-heading--4">Dienstverlening in begrijpbare taal</p>
          <p>De overheid wil je helpen. Maar hoe? In deze toepassing wordt je op mensenmaat geholpen.</p>
        </AuContent>
      </div>
      <div class="au-o-grid__item au-u-1-4@small au-u-1-2@medium au-u-text-right@medium">
        <AuButton @icon="login" @iconAlignment="left">
          Aanmelden (optioneel)
        </AuButton>
      </div>
    </div>
  </div>
</section>
<section class="au-o-region-large au-u-background-gray-200">
  <div class="au-o-layout">
    <AuContent @skin="large" class="au-u-margin-bottom">
      <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Functionaliteiten van Help me IPDC</AuHeading>
    </AuContent>
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-1-2@small">
        <AuCard @textCenter="true" as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="pencil">
            <AuHeading @level="3" @skin="4">
              Vind de juiste dienstverlening
            </AuHeading>
          </c.header>
          <c.content>
            <p>Schrijf wat je zoekt en wij doorzoeken je lokale ondersteuning voor de gepaste dienstverlening.</p>
          </c.content>
          <c.footer>
            <p>
              <a class="au-c-button" href="/public-service" rel="noopener noreferrer" target="_blank">Alle dienstverleningen</a>
            </p>
          </c.footer>
        </AuCard>
      </div>
      <div class="au-o-grid__item au-u-1-2@small">
        <AuCard @textCenter="true" as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="pencil">
            <AuHeading @level="3" @skin="4">
              Ontdek de stappen en vereisten voor de dienstverlening.
            </AuHeading>
          </c.header>
          <c.content>
            <p>De robots verwerken de beschikbare tekst en geven de stappen weer die je moet zetten. Foutjes kan je helpen recht zetten.</p>
          </c.content>
          <c.footer>
            <p>
              <a class="au-c-button" href="/public-service-details" rel="noopener noreferrer" target="_blank">Welke stappen voor dienstverleningen?</a>
            </p>
          </c.footer>
        </AuCard>
      </div>
    </div>
  </div>
</section>